{% extends 'base.html' %}
{% block content %}

<center>
        <div class="container">

            <div class="card card-flex bg-dark" style="width: 30rem;">
                <div class="card-header" style="background-color:#2c2c33">
        <h4><font color="white">Register new Product</font></h4>
  </div>

                <div class="card-body" >


<form method="post" action="/crmapp/add_product/"> {% csrf_token %}
  <div class="col-auto">
    <div class="form-row">
      <div class="form-group col-md-12">
      <label for="productname" style="color:white;">Product Name</label>
      <input type="text" class="form-control" id="productname" name="name" placeholder="Product Name" required>
    </div>
    </div>
      <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cprice" style="color:white;">Cost Price</label>
      <input type="integer" class="form-control" name="cprice" id="cprice" placeholder="Price" required>
    </div>
          <div class="form-group col-md-6">
      <label for="price" style="color:white;">Selling Price</label>
      <input type="integer" class="form-control" name="sprice" id="price" placeholder="Price" required>
    </div>
  </div>
    </div>
  <div class="col-auto">
    <div class="form-group">
    <label for="exampleFormControlTextarea1" style="color:white;">Description</label>
    <textarea class="form-control"  id="exampleFormControlTextarea1" name="description" rows="3" required></textarea>
  </div>
  <button type="submit" class="btn btn-info">Register</button>
  </div>
  <br>
</form>


                </div>
            </div>
        </div>
    </center>
{% endblock %}