{% extends 'cusbase.html' %}
{% block content %}
<center>
        <div class="container">
            <div class="card card-flex bg-dark" style="width: 30rem;">
                <div class="card-body" >
                    {% if form.errors %}
                <p class="error"> Invalid Username or Password </p>
                {% endif %}
                {% if request.session.error_msg %}
                <p style="color:white;"> {{request.session.error_msg}}  </p>
                {% endif %}
                    <form method="POST" style="color:white;" >
                        {% csrf_token %}
                        {{form.as_p}}
                    <button  type="submit"  class="btn btn-success">Change password </button>
                    </form>
                </div>
            </div>
        </div>
    </center>
{% endblock %}